body {
background: #ffffff;-webkit-transform-origin: 0 0; transform-origin: 0 0; }#tui-animation {
overflow: hidden;
position: relative;
background: #ffffff;
width: 1920px;
height: 1080px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-perspective: 500px;
perspective: 500px;
}#tui-animation div {
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
}
#tui-ct {
position: absolute;
width: 1920px;
height: 1080px;
z-index: 5;
background: transparent;
}
#tui-11 {
position: absolute;
z-index: 4;
}
#tui-10 {
font-weight: bold;
text-decoration: none;
color: #000000;
text-align: left;
font-style: normal;
font-family: 'Lora';
font-size: 150px;
white-space: nowrap;
position: absolute;
z-index: 3;
}
#tui-9 {
font-weight: bold;
text-decoration: none;
color: #000000;
text-align: left;
font-style: normal;
font-family: 'Lora';
font-size: 150px;
white-space: nowrap;
position: absolute;
z-index: 2;
}
#tui-8 {
font-weight: bold;
text-decoration: none;
color: #000000;
text-align: left;
font-style: normal;
font-family: 'Lora';
font-size: 150px;
white-space: nowrap;
position: absolute;
z-index: 1;
}